*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: #ededed;
}

:root{
    --Color: #fff;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: var(--Color);
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color: var(--Color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: rgb(205, 120, 196);

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(67, 29, 67);
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.home-conteudo{
    display: flex;
    justify-content: center;

}
.home-conteudo .img{
    width: 50%;
    height: auto;
}
.home-conteudo .img img{
    width: 100%;
    border-radius: 55%;
    height: auto;
}
.home-conteudo .conteudo-texto{
    max-width: 600px;
}
.conteudo-texto h3{
    font-size: 32px;
    font-weight: 700;
}
.conteudo-texto h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.conteudo-texto p{
    font-size: 20px;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9f2baf;
    border-radius: 50%;
    font-size: 20px;
    color: #9f2baf;
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background-color: #9f2baf;
    color: #111;
    box-shadow:0 0 20px #9f2baf ;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #9f2baf;
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn-box:hover{
    box-shadow: 0 0 5px #c566d2,
    0 0 25px #c566d2, 0 0 50px #c566d2,
    0 0 100px #c566d2, 0 0 200px
    ;
}