*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    color: #111;
    background-color: #e4e3e3;
}

:root{
    --Color: #fff;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}
.logo{
    position: relative;
    font-size: 25px;
    color:#111;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 25px;
    color:#111;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color: rgb(205, 120, 196);

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #e4e3e3;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.home-conteudo{
    display: flex;
    justify-content: center;

}
.home-conteudo .img{
    width: 50%;
    height: auto;
    animation: slideLeft 1s ease forwards;
    
}
.home-conteudo .img img{
    background-image: none;
    width: 100%;
    border-radius: 55%;
    height: auto;
    border-bottom: 3px solid #fff;
    box-shadow:0 0 10px #9b919c ;
}
.home-conteudo .conteudo-texto{
    max-width: 600px;
}
.conteudo-texto h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .6s;
}
.conteudo-texto h1 span{
    color:#c566d2;
}
.conteudo-texto h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    margin-bottom: 30px
}

.conteudo-texto p{
    font-size: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9f2baf;
    border-radius: 50%;
    font-size: 20px;
    color: #9f2baf;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slideBottom 1s ease-out forwards;
    opacity: 0;
    animation-delay: .3s;
}
.home-sci a:hover{
    background-color: #9f2baf;
    color: #e4e3e3;
    box-shadow:0 0 20px #9f2baf ;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    box-shadow: 1px 16px 8px 0px rgba(0,0,0,0.12);
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideBottom 1s ease-out forwards;
}
.btn-box:hover{
    box-shadow: none;
    background-color: #c566d2;
    color: #e4e3e3;
}

section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    color: #b678c4;
}
.barra{
    font-size: 23px;

}
.barra i{
    color: #c566d2;
}
.barras-tecnicas .barra{
    margin-top: 40px 0;
}
.barras-tecnicas .barra:first-child{
    margin-top: 0;
}
.barras-tecnicas .barra:last-child{
    margin-bottom: 0;
}
.barras-tecnicas .barra .info{
    margin-bottom: 5px;
}
.barras-tecnicas .barra .info span{
    font-size: 17px;
    font-weight: 500;
    /* opacity: 0;
    animation: mostrarTxt 0.5s 1s linear forwards; */
}
.barras-tecnicas .barra .progressao-linha{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #635e5e;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.barras-tecnicas .barra .progressao-linha span{
    height: 100%;
    background-color: #b678c4;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progressao-linha.html span{
    width: 90%;
}
.progressao-linha.php span{
    width: 70%;
}
.progressao-linha.css span{
    width: 80%;
}
.progressao-linha.js span{
    width: 86%;
}
.progressao-linha.crud span{
    width: 100%;
}

.progressao-linha span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #9f2baf;
    color: #fff;
}


@keyframes slideRight{
    0%{
        transform:translateX(-100px) ;
        opacity: 0;
    }
    100%{
        transform:translateX(0px) ;
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform:translateY(100px) ;
        opacity: 0;
    }
    100%{
        transform:translateY(0px) ;
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform:translateY(-100px) ;
        opacity: 0;
    }
    100%{
        transform:translateY(0px) ;
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translateX(100px) ;
        opacity: 0;
    }
    100%{
        transform:translateY(0px) ;
        opacity: 1;
    }
}