* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body {
    color: #111;
    background-color: #e4e3e3;
}

:root {
    --Color: #fff;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 25px;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #111;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}

.navbar a:hover {
    color: rgb(205, 120, 196);

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #e4e3e3;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}

.home-conteudo {
    display: flex;
    justify-content: center;

}

.home-conteudo .img {
    width: 50%;
    height: auto;
    animation: slideLeft 1s ease forwards;

}

.home-conteudo .img img {
    background-image: none;
    width: 100%;
    margin-left: 50px;
    border-radius: 55%;
    height: auto;
    border-bottom: 3px solid #fff;
    box-shadow: 0 0 10px #9b919c;
}

.home-conteudo .conteudo-texto {
    max-width: 600px;
}

.conteudo-texto h3 {
    font-size: 3em;
    font-weight: 700;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .6s;
}

.conteudo-texto h1 span {
    color: #c566d2;
}

.conteudo-texto h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    margin-bottom: 30px
}

.conteudo-texto p {
    font-size: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #9f2baf;
    border-radius: 50%;
    font-size: 20px;
    color: #9f2baf;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    animation: slideBottom 1s ease-out forwards;
    opacity: 0;
    animation-delay: .3s;
}

.home-sci a:hover {
    background-color: #9f2baf;
    color: #e4e3e3;
    box-shadow: 0 0 20px #9f2baf;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    box-shadow: 1px 16px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideBottom 1s ease-out forwards;
}

.btn-box:hover {
    box-shadow: none;
    background-color: #c566d2;
    color: #e4e3e3;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#linguagens {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    font-size: 1.5em;
}


#linguagens .titulo {
    display: flex;
    justify-content: center;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #cf1299 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#linguagens .container .lista {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap;
    max-width: 900px;
    box-shadow: 4px 4px 25px 0px rgba(0,0,0,0.75) inset;
    padding: 40px 20px 40px 10px;
    border-radius: 5%;
    border: 2px solid #fff;

}

.linguagem {
    margin: 8px;
    padding: 9px;
    cursor: pointer;
   
}



.linguagem i {
    box-shadow: 1px 16px 8px 0px rgba(0, 0, 0, 0.12);
    padding: 10px;
    border-radius: 20px;
    font-size: 5.5rem;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@media screen and (max-width: 300px){
    .home {
        display: flex;
        flex-direction: column;
    }
}